<!---------- About us HTML Starts --------->
<div class="main-section" >
    <div class="container">
       <div class="width-40">
          <div class="about-img"><img src="https://cdn.pixabay.com/photo/2016/05/01/21/28/university-ulm-1366015_640.jpg"> </div>
       </div>
       <div class="width-60">
          <div class="about-detail">
             <h6>About us</h6>
             <h1>Hi, Wecome To <span>Our Campus </span> RGPV Universities</h1>
             <p>Rajiv Gandhi Technical University is truly a picture of modernization. With an extensive presence on the internet, Rajiv Gandhi Technical University has courses which can suit anyone. Courses offered Rajiv Gandhi Technical University offers undergraduate and postgraduate full time and online courses.They specialize in fields like Management, Forensic Science, Fashion, Engineering, Space Sciences, Social Work, Nanotechnology, Communication and Pharmacy. Facilities The University has provided air-conditioned amphitheatre style classrooms. The Library of Rajiv Gandhi Technical University is equipped with books, periodicals, national and international journals, CD-ROMS, covering all aspects of academic studies and research material.</p>
             <div class="width-10">
                <div class="about-box">
                   <img src="https://cdn.pixabay.com/photo/2017/12/24/23/25/trophy-3037778_640.jpg">
                   <h5>Best Trainer</h5>
                   <p>2022-2023</p>
                </div>
             </div>
             <div class="width-10">
                <div class="about-box">
                   <img src="https://cdn.pixabay.com/photo/2015/10/28/16/46/cup-1010909_640.jpg">
                   <h5>Best Porfomance</h5>
                   <p>2022-2023</p>
                </div>
             </div>
             <div class="width-10">
                <div class="about-box">
                   <img src="https://cdn.pixabay.com/photo/2016/08/23/15/07/cup-1614673_640.png">
                   <h5>Top Placement</h5>
                   <p>500+</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!---------- About us HTML Ends --------->
 <!---------- Testimonial HTML Starts --------->
<div class="main-section">
   <h2 class="heading">What Student Say's About Courses</h2>
   <marquee scrollamount="7">
      <div class="testimonial">
         <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not  <br>
            It has roots in a piece of classical Latin literature <br>
            from 45 BC, making it over 2000 years old. Richard ,<br>
            a Latin professor at Hampden-Sydney College in . 
         </div>
         <div class="testimonial-detail">
            <div class="testimonial-img"> <img src=""> </div>
            <div class="testimonial-name">
               <h5>Niccky</h5>
               <p>Web Devloper</p>
            </div>
         </div>
      </div>
      <div class="testimonial">
         <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not <br>
            It has roots in a piece of classical Latin literatu <br>
            from 45 BC, making it over 2000 years old.  McClint,<br>
            a Latin professor at Hampden-Sydney College in. 
         </div>
         <div class="testimonial-detail">
            <div class="testimonial-img"> <img src=""> </div>
            <div class="testimonial-name">
               <h5>Richa</h5>
               <p>Web Devloper</p>
            </div>
         </div>
      </div>
      <div class="testimonial">
         <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not  <br>
            It has roots in a piece of classical Latin literat<br>
            from 45 BC, making it over 2000 years old.  McClint<br>
            a Latin professor at Hampden-Sydney College in. 
         </div>
         <div class="testimonial-detail">
            <div class="testimonial-img"> <img src=""> </div>
            <div class="testimonial-name">
               <h5>Jiya</h5>
               <p>Web Devloper</p>
            </div>
         </div>
      </div>
   </marquee>
</div>
<!---------- Testimonial HTML Ends --------->