


<!---------- Popular Courses HTML Starts --------->
<div class="main-section">
    <div class="container">
       <h2 class="heading-section"> Most Popular Top <span>Courses</span> </h2>
       <p class="subhead-section">We provide various most demanded course to make you industry ready</p>
       <ul class="course-list">
          <li>
             <i class="fa fa-heartbeat"> </i>
             <p>Medical</p>
          </li>
          <li>
             <i class="fa fa-globe"> </i>
             <p>Geography</p>
          </li>
          <li>
             <i class="fa fa-line-chart"> </i>
             <p>Sales</p>
          </li>
          <li>
             <i class="fa fa-book"> </i>
             <p>Teacher</p>
          </li>
       </ul>
       <ul class="course-list">
          <li>
             <i class="fa fa-camera"> </i>
             <p>B.Tech</p>
          </li>
          <li>
             <i class="fa fa-hdd-o"> </i>
             <p>MBA</p>
          </li>
          <li>
             <i class="fa fa-camera"> </i>
             <p>Digitalization</p>
          </li>
          <li>
             <i class="fa fa-pie-chart"> </i>
             <p>Marketing</p>
          </li>
       </ul>
    </div>
 </div>
 
<!---------- Notice Bord and Upcoming Events HTML Starts --------->
<div class="main-section bg-grey">
   <div class="container">
      <div class="width-50">
         <div class="notice-board-sect">
            <h2><i class="fa fa-sticky-note-o" aria-hidden="true"></i>RGPV Notice Board</h2>
            <div class="notice-board">
               <marquee direction="up"  scrollamount="4" height="400">
                  <ul>
                     <li><img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Report of Acrivities to submitted till 15/02/2023 Appointed counseling of Director</li>
                     <li><img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Regarding preparation Appointed counseling of Director of nAAC</li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Counseler has been  Appointed counseling of Student </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Meeting to Organized on College Level College Level  15/02/202 </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Counseler has been  Appointed counseling of Doctor </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Conducted its 2nd convocation ceremony. </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Counseler has been College Level   Appointed counseling of Director </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> 16 feb 2022 Ph D merit list Part 01_16 feb 2022 </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> List of Activities organised under TEQIP-III </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> School of Architecture College Level counselling 2022-23 </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Documents for empanellment of vendor for A Class contyractor </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Counseler has been  Appointed counseling of Director </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Counseler has been  Appointed counseling of Director </li>
                     <li> <img src="https://cdn.pixabay.com/animation/2022/12/26/09/50/09-50-13-682_512.gif"> Counseler has been  Appointed counseling of Director </li>
                  </ul>
               </marquee>
            </div>
         </div>
      </div>

      <!---------- Principal Info HTML Starts --------->
<div class="main-section bg-grey">
   <div class="container">
      <div class="width-40">
         <div class="principal-img"> <img src="assets/xyz.pg"> </div>
      </div>
      <div class="width-60">
         <div class="principal-info">
            <h6>Learn Anything</h6>
            <h1>Principal of <span>Our Campaus</span> Group</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.If you are going to use a passage.</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.If you are going to use a passage of anything embarrassing hidden in the middle of text Lorem ipsum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus.If you are going to use a passage of a Lorem ipsum</p>
            <a href="#"><i class="fa fa-angle-right"></i> Read More</a> 
         </div>
      </div>
   </div>
</div>
<!---------- Principal Info HTML Ends --------->
<!---------- Footer HTML Starts --------->
<div class="footer">
   <div class="container">
      <div class="footer-sect">
         <h2>Best Institute For Education</h2>
         <p>we provide best education with industry experts</p>
         <img src="images/icon-fb.png"> 
         <img src="images/icon-tw.png"> 
         <img src="images/icon-in.png"> 
         <img src="images/icon-li.png"> 
      </div>
      <div class="footer-sect">
         <h2>Quick Links</h2>
         <ul class="footer-menu">
            <li><a href="#"> > Home</a></li>
            <li><a href="#"> > About us</a></li>
            <li><a href="#"> > Tutorial</a></li>
            <li><a href="#"> > Event</a></li>
            <li><a href="#"> > Gallery</a></li>
            <li><a href="#"> > Press Release</a></li>
            <li><a href="#"> > Courses</a></li>
            <li><a href="#"> > Contact Us</a></li>
         </ul>
      </div>
      <div class="footer-sect">
         <h2>Contact Info</h2>
         <ul class="footer-contact">
            <li><b>Email :</b> reply@RGPV.com </li>
            <li><b>Call :</b> +91 1234567890 </li>
            <li><b>Fax :</b> +91 123 4567890 </li>
            <li><b>Website :</b> https://www.RGPV.com </li>
         </ul>
      </div>
   </div>
</div>
<!---------- Footer HTML Ends --------->
      